template(name="reactiveBlockGrid")
  .reactiveBlockGridElementContainer
    each cursor
      +reactiveBlockGridItem

  ul.reactiveBlockGrid(class=parentClasses)


template(name="reactiveBlockGridItem")
  .reactiveBlockGridItemContainer
    li(data-reactive-block-grid-item-id="#{_id}" data-reactive-block-position="#{position}" class=childClasses $dyn=filterProperties)
      +Template.dynamic(template=partial)
